[submodule "lab1/PCG-Colors"]
	path = lab1/PCG-Colors
	url = https://github.com/shoksin/PCG-Colors.git
[submodule "lab2/PCGLab2"]
	path = lab2/PCGLab2
	url = https://github.com/shoksin/PCGLab2.git
[submodule "lab3/PCG-LAB3"]
	path = lab3/PCG-LAB3
	url = https://github.com/shoksin/PCG-LAB3.git
[submodule "lab5/PCG-LAB5"]
	path = lab5/PCG-LAB5
	url = https://github.com/shoksin/PCG-LAB5.git
[submodule "lab6/PCG-LAB6"]
	path = lab6/PCG-LAB6
	url = https://github.com/shoksin/PCG-LAB6.git
